@BEGIN_TEMPLATE@
<script type="text/javascript">
function confirmAccountCreation(){
		return confirm("Procedere con la creazione e la notifica della nuova account per questo cliente?");
}
</script>
<div>
<div id="list">
			
	<div id="splash">
	

					<h2>@TITLE@</h2>
					<h3>Risultati della ricerca : @NUMERO_ELEMENTI@ - pagina @PAGINA_CORRENTE@</h3>
				</div>

				<div class="inserto">
					<ul id="toolbar" class="clearfix">
						<li>
							<a href="javascript:history.back();" title="indietro"><img alt="indietro" title="indietro" src="app/Template/metaAmbiente/img/icon-back.gif" /></a>
						</li>
						<li>
							<form id="report-repository-3" action="ModuleIndex">
									<input type="hidden" id="q3" name="q" value="export/give/CLS=@CLASS@/DOC=export_@CLASS@/TYPE=csv/data_source=cliente-al" />
									<input type="hidden" id="xml-query-3" name="XQUERY" value="@XML-QUERY@" />
									<input type="image" title="esportazione csv clienti" src="app/Template/metaAmbiente/img/icon-excel.gif" />
							</form>
						</li>
															
						 
					</ul>
				</div>

				@BLOCK_BEGIN_RESULT_ERROR@
					<div class="alert alert-danger" role="alert">Si &egrave; verificato un errore: @ERROR_MESSAGE@.</div>
				@BLOCK_END_RESULT_ERROR@

				@BLOCK_BEGIN_RESULT_EMPTY@
					<div class="alert alert-warning" role="alert">Nessun elemento trovato.</div>
				@BLOCK_END_RESULT_EMPTY@

				([
						[[@tag_Cliente.ID#FLAT@] != []]
						?? [
							<table width="100%" summary="tabella risultati" border="0" cellspacing="0" cellpadding="0" class="sortable" id="risultati">
								<tr>
									@BLOCK_BEGIN_HEADER@
										<th scope="col">
											([
												[[@HEADER_HREF@] != []]
												?? [
													<a href="@HEADER_HREF@" @ajaxable="target=list,replace=true,target_result=list" ;>
												]
											])
											@HEADER_LABEL@
											([
												[[@HEADER_HREF@] != []]
												?? [
													</a>
												]
											])
										</th>
									@BLOCK_END_HEADER@
									<th scope="col">Azioni</th>
								</tr>
	
								@BEGIN_Cliente@([
										[[@XPATH_FUN((count(preceding-sibling::Cliente)+ 1) mod 2)@@] == [0.0] ]
										?? [
											<tr class="lista_linea_pari">
										] :: [
											<tr class="lista_linea_dispari">
										]
									])
	
										@tag_cliente@@tag_codice_cliente@@tag_codice_fiscale@@tag_tipo_cliente@@tag_tipo_sollecito@@tag_operatore_responsabile@@tag_stato_cliente@@tag_account@
											<td class="azioni-doc">
												<a class="link_map" href="?q=@MODULE@/detail&amp;p=Cliente/_a_ID/_v_@tag_ID#FLAT@" title="Vai alla scheda dell'oggetto"><img alt="Vai alla scheda dell'oggetto" title="Vai alla scheda dell'oggetto"  src="app/Template/metaAmbiente/img/icon-forth.gif" /></a>
												([
												[[@FUN_CHECK_INSTANCE_AUTH(CLS=@CLASS@,ID=@tag_ID#FLAT@,LEVEL=2,CREATION_USER=@tag_creation_user#FLAT@)@] == [true]]
												?? [
													<span class="NoVisibility">|</span>
													([
														[[] != [1]]
														?? [
															([ 
																[[] == [complex_detail_edit]] 
																?? [
																	<a class="link_map" href="?q=@MODULE@/complex_detail_edit/CLS=Cliente/ID=@tag_ID#FLAT@" title="Modifica i dati dell'oggetto">
																		<img alt="Modifica i dati dell'oggetto" title="Modifica i dati dell'oggetto"  src="app/Template/metaAmbiente/img/icon-edit.gif" />
																	</a>
																] :: [
																	<a class="link_map" href="?q=@MODULE@/detail_edit&amp;p=Cliente/_a_ID/_v_@tag_ID#FLAT@" title="Modifica i dati dell'oggetto">
																		<img alt="Modifica i dati dell'oggetto" title="Modifica i dati dell'oggetto"  src="app/Template/metaAmbiente/img/icon-edit.gif" />
																	</a>
																]
															])
														]
													])
													
													([[[@tag_account._system_user.ID#FLAT@]==[]]??[
													<span class="NoVisibility">|</span>
														<a id="newaccount" onclick="return confirmAccountCreation();" class="link_map" href="?q=document/createuseraccount&amp;ID=@tag_ID#FLAT@" title="Creazione automatica account con notifica">
																		<img alt="Creazione automatica account con notifica" src="app/Template/metaAmbiente/img/icon-workflow.png" />
														</a>
													]])
												]
												])
												
											</td>
									</tr>@END_Cliente@
					  		</table>
						]
					])

		  		

		  		

		  		<div class="pagine">
					<ul>
						@BLOCK_BEGIN_INDIETRO@
							<li>
								<a class="linkfirst" href="@HREF_LIST_FIRST@" @ajaxable="target=list,replace=true,target_result=list"  title="Vai alla prima pagina"><img src="app/Template/metaAmbiente/img/page-first.gif" alt="Vai alla prima pagina" /></a>
							</li>
							<li>
								<a class="linkprev" href="@HREF_LIST_BACK@" @ajaxable="target=list,replace=true,target_result=list"  title="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)"><img src="app/Template/metaAmbiente/img/page-rw.gif" alt="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)" /></a>
							</li>
						@BLOCK_END_INDIETRO@

						<li><strong>@NUMERO_ELEMENTI@ elementi</strong> trovati - pagina @PAGINA_CORRENTE@</li>

						@BLOCK_BEGIN_AVANTI@
							<li>
								<a class="linknext" href="@HREF_LIST@"  @ajaxable="target=list,replace=true,target_result=list" title="Vai alla pagina successiva (@PAGINA_SUCCESSIVA@)"><img src="app/Template/metaAmbiente/img/page-fw.gif" alt="Vai alla pagina successiva (@PAGINA_PRECEDENTE@)" /></a>
							</li>
							<li>
								<a class="linkfirst" href="@HREF_LIST_LAST@" @ajaxable="target=list,replace=true,target_result=list" title="Vai all'ultima pagina"><img src="app/Template/metaAmbiente/img/page-last.gif" alt="Vai all'ultima pagina" /></a>
							</li>
						@BLOCK_END_AVANTI@
					</ul>
				</div>
			</div>
			<span id="apri-chiudi-filtro" title="apri/chiudi filtro di raffinamento">affina la ricerca</span>
			<div @toggable="controller=apri-chiudi-filtro,init_state=closed">
			 	@FUN_MODULE(q=object/simplefilter)@  
			</div>
		</div>@END_TEMPLATE@