@BEGIN_TEMPLATE@<div>
			<div id="list">
					<h2>@TITLE@</h2>

<div class="alert alert-info" role="alert">I documento col titolo in rosso non risultano ancora scaricati</div>

				@BLOCK_BEGIN_RESULT_ERROR@
					<div class="alert alert-danger" role="alert">Si &egrave; verificato un errore: @ERROR_MESSAGE@.</div>
				@BLOCK_END_RESULT_ERROR@

				@BLOCK_BEGIN_RESULT_EMPTY@
					<div class="alert alert-warning" role="alert">Nessun elemento trovato.</div>
				@BLOCK_END_RESULT_EMPTY@

				([
						[[@tag_Documento.ID#FLAT@] != []]
						?? [
							<table width="100%" summary="tabella risultati" border="0" cellspacing="0" cellpadding="0" class="sortable" id="risultati">
								<tr>
									@BLOCK_BEGIN_HEADER@
										<th scope="col">
											([
												[[@HEADER_HREF@] != []]
												?? [
													<a href="@HEADER_HREF@" @ajaxable="target=list,replace=true,target_result=list" ;>
												]
											])
											@HEADER_LABEL@
											([
												[[@HEADER_HREF@] != []]
												?? [
													</a>
												]
											])
										</th>
									@BLOCK_END_HEADER@
									<th scope="col">scaricato il</th>

								</tr>
	
								@BEGIN_Documento@([
										[[@XPATH_FUN((count(preceding-sibling::Documento)+ 1) mod 2)@@] == [0.0] ]
										?? [
											<tr class="lista_linea_pari">
										] :: [
											<tr class="lista_linea_dispari">
										]
									])
	
	
									
										<td class="([[[@tag_storia_documento.StoriaDocumento.scaricato_il#FLAT@]==[]]??[unread]::[read]])">@tag_titolo#FLAT@</td>
										<td>
											@tag_tipologia.DescrizioneDocumento.tipologia_documento#FLAT@
										</td>
										@tag_data_riferimento@
										<td class="attachment">
											<a title="scarica il documento @tag_allegato._system_attachment.sa_link_text#FLAT@ (size: @tag_allegato._system_attachment.sa_size#FLAT@KB)" target="_blank" href="DandL?q=get&amp;d=@tag_ID#FLAT@&amp;a=@tag_allegato._system_attachment.ID#FLAT@&amp;u=@FUN_GET_USER_INFO(param=id)@"><img src="app/Template/metaAmbiente/img/icon-attachment.png" alt="scarica il documento @tag_allegato._system_attachment.sa_link_text#FLAT@ (size: @tag_allegato._system_attachment.sa_size#FLAT@KB)" /></a>
										</td>
										@tag_last_modification_date@
										<td>@tag_storia_documento.StoriaDocumento.scaricato_il#FLAT@</td>
											
									</tr>@END_Documento@
					  		</table>
						]
					])

		  		

		  		

		  		<div class="pagine">
					<ul>
						@BLOCK_BEGIN_INDIETRO@
							<li>
								<a class="linkfirst" href="@HREF_LIST_FIRST@" title="Vai alla prima pagina"><img src="app/Template/metaAmbiente/img/page-first.gif" alt="Vai alla prima pagina" /></a>
							</li>
							<li>
								<a class="linkprev" href="@HREF_LIST_BACK@"    title="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)"><img src="app/Template/metaAmbiente/img/page-rw.gif" alt="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)" /></a>
							</li>
						@BLOCK_END_INDIETRO@

						<li><strong>@NUMERO_ELEMENTI@ elementi</strong> trovati - pagina @PAGINA_CORRENTE@</li>

						@BLOCK_BEGIN_AVANTI@
							<li>
								<a class="linknext" href="@HREF_LIST@"    title="Vai alla pagina successiva (@PAGINA_SUCCESSIVA@)"><img src="app/Template/metaAmbiente/img/page-fw.gif" alt="Vai alla pagina successiva (@PAGINA_PRECEDENTE@)" /></a>
							</li>
							<li>
								<a class="linkfirst" href="@HREF_LIST_LAST@"   title="Vai all'ultima pagina"><img src="app/Template/metaAmbiente/img/page-last.gif" alt="Vai all'ultima pagina" /></a>
							</li>
						@BLOCK_END_AVANTI@
					</ul>
				</div>
				
				
				([[[@PAGINA_CORRENTE@] contains [1]] ?? [] :: [
				<div class="to-bacheca">
					<a href="Index" title ="torna alla mia bacheca">Torna alla bacheca</a>
				</div>
				]])
			</div>
		</div>@END_TEMPLATE@