@BEGIN_TEMPLATE@<div>
			<div id="list" class="tabbed">
				<div class="inserto">
					<ul id="toolbar" class="clearfix">
						<li>
							<a href="javascript:history.back();" title="indietro">
								<img alt="indietro" title="indietro" src="app/Template/metaAmbiente/img/icon-back.gif" />
							</a>
						</li>

													
						@BLOCK_BEGIN_EDIT@
							([
									[[] != [1] && [] != [1]]
									?? [
										<li>
											<a href="@HREF_DETAIL_EDIT@" title="inserisci una nuova scheda"><img alt="inserisci una nuova scheda" title="inserisci una nuova scheda" src="app/Template/metaAmbiente/img/icon-new.gif" /></a>
										</li>
									]
								])
						@BLOCK_END_EDIT@
					</ul>
				</div>


				<h2>@FUN_CURRENT_DATA(class=Cliente,param=cliente)@</h2>
				@BLOCK_BEGIN_RESULT_ERROR@
					<div class="alert alert-danger" role="alert">Si &egrave; verificato un errore: @ERROR_MESSAGE@.</div>
				@BLOCK_END_RESULT_ERROR@

				@BLOCK_BEGIN_RESULT_EMPTY@
					<div class="alert alert-warning" role="alert">Nessun elemento trovato.</div>
				@BLOCK_END_RESULT_EMPTY@
				
				<div class="form-container">

        <form id="fake" action="">
         <fieldset>
          <legend>nuova pratica</legend>
          <div class="object-new">
          Se la ricerca non ti soddisfa, puoi <a href="?q=object/detail_edit&amp;p=Pratica&amp;a=_a_cliente_pratica/_c_Cliente/_a_ID/_v_@FUN_CURRENT_DATA(class=Cliente,param=id)@" title="creare una nuova pratica">creare una nuova pratica</a>.
          </div>
         </fieldset>
        </form>
       </div>
       
       
				

				([
						[[@tag_Pratica.ID#FLAT@] != []]
						?? [
						
						@FUN_MODULE(q=object_tab_header/detail,p=Cliente/_a_ID/_v_@tag_Pratica.cliente_pratica.Cliente.ID#FLAT@)@
		
		<script type="text/javascript">
		$(document).ready(function() {
			Anastasis.SerenaUtils.getCurrentTabSheet('Pratica');
		});
		</script>
						
						
						
							<table width="100%" summary="tabella risultati" border="0" cellspacing="0" cellpadding="0" class="sortable" id="risultati">
								<tr>
									@BLOCK_BEGIN_HEADER@
										<th scope="col">
											([
												[[@HEADER_HREF@] != []]
												?? [
													<a href="@HEADER_HREF@" @ajaxable="target=list,replace=true,target_result=list" ;>
												]
											])
											@HEADER_LABEL@
											([
												[[@HEADER_HREF@] != []]
												?? [
													</a>
												]
											])
										</th>
									@BLOCK_END_HEADER@
									<th scope="col">Azioni</th>
								</tr>
	
								@BEGIN_Pratica@([
										[[@XPATH_FUN((count(preceding-sibling::Pratica)+ 1) mod 2)@@] == [0.0] ]
										?? [
											<tr class="lista_linea_pari">
										] :: [
											<tr class="lista_linea_dispari">
										]
									])
	
										<td>@tag_cliente_pratica.Cliente.cliente#FLAT@</td>@tag_titolo@
										@tag_data_chiusura@@tag_anno_contabile@
										@tag_stato@@tag_prezzo@@tag_tipo@@tag_responsabile@
											<td>
												<a class="link_map" href="?q=@MODULE@/detail&amp;p=Pratica/_a_ID/_v_@tag_ID#FLAT@" title="Vai alla scheda dell'oggetto"><img alt="Vai alla scheda dell'oggetto" title="Vai alla scheda dell'oggetto"  src="app/Template/metaAmbiente/img/icon-forth.gif" /></a>
												([
												[[@FUN_CHECK_INSTANCE_AUTH(CLS=@CLASS@,ID=@tag_ID#FLAT@,LEVEL=2,CREATION_USER=@tag_creation_user#FLAT@)@] == [true]]
												?? [
													<span class="NoVisibility">|</span>
													([
														[[] != [1]]
														?? [
															([ 
																[[] == [complex_detail_edit]] 
																?? [
																	<a class="link_map" href="?q=@MODULE@/complex_detail_edit/CLS=Pratica/ID=@tag_ID#FLAT@" title="Modifica i dati dell'oggetto">
																		<img alt="Modifica i dati dell'oggetto" title="Modifica i dati dell'oggetto"  src="app/Template/metaAmbiente/img/icon-edit.gif" />
																	</a>
																] :: [
																	<a class="link_map" href="?q=@MODULE@/detail_edit&amp;p=Pratica/_a_ID/_v_@tag_ID#FLAT@" title="Modifica i dati dell'oggetto">
																		<img alt="Modifica i dati dell'oggetto" title="Modifica i dati dell'oggetto"  src="app/Template/metaAmbiente/img/icon-edit.gif" />
																	</a>
																]
															])
														]
													])
												]
												])
												
											</td>
									</tr>@END_Pratica@
					  		</table>
						]
					])

		  		

		  		

		  		<div class="pagine">
					<ul>
						@BLOCK_BEGIN_INDIETRO@
							<li>
								<a class="linkfirst" href="@HREF_LIST_FIRST@" @ajaxable="target=list,replace=true,target_result=list"  title="Vai alla prima pagina"><img src="app/Template/metaAmbiente/img/page-first.gif" alt="Vai alla prima pagina" /></a>
							</li>
							<li>
								<a class="linkprev" href="@HREF_LIST_BACK@" @ajaxable="target=list,replace=true,target_result=list"  title="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)"><img src="app/Template/metaAmbiente/img/page-rw.gif" alt="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)" /></a>
							</li>
						@BLOCK_END_INDIETRO@

						<li><strong>@NUMERO_ELEMENTI@ elementi</strong> trovati - pagina @PAGINA_CORRENTE@</li>

						@BLOCK_BEGIN_AVANTI@
							<li>
								<a class="linknext" href="@HREF_LIST@"  @ajaxable="target=list,replace=true,target_result=list" title="Vai alla pagina successiva (@PAGINA_SUCCESSIVA@)"><img src="app/Template/metaAmbiente/img/page-fw.gif" alt="Vai alla pagina successiva (@PAGINA_PRECEDENTE@)" /></a>
							</li>
							<li>
								<a class="linkfirst" href="@HREF_LIST_LAST@" @ajaxable="target=list,replace=true,target_result=list" title="Vai all'ultima pagina"><img src="app/Template/metaAmbiente/img/page-last.gif" alt="Vai all'ultima pagina" /></a>
							</li>
						@BLOCK_END_AVANTI@
					</ul>
				</div>
			</div>
			<span id="apri-chiudi-filtro" title="apri/chiudi filtro di raffinamento">affina la ricerca</span>
			<div @toggable="controller=apri-chiudi-filtro,init_state=closed">
			 	@FUN_MODULE(q=object/simplefilter)@  
			</div>
		</div>@END_TEMPLATE@