@BEGIN_TEMPLATE@<div>
			<div id="list">
				<div id="splash">
					<h2>Solleciti da generare</h2>
					<h3>Risultati della ricerca : @NUMERO_ELEMENTI@ - pagina @PAGINA_CORRENTE@</h3>
				</div>

				<div class="inserto">
					<ul id="toolbar" class="clearfix">
						<li>
							<a href="javascript:history.back();" title="indietro"><img alt="indietro" title="indietro" src="app/Template/metaAmbiente/img/icon-back.gif" /></a>
						</li>
						<li>
							<a href="javascript:Anastasis.Utils.print('list');" title="stampa"><img alt="stampa" title="stampa" src="app/Template/metaAmbiente/img/icon-print.gif" /></a>
						</li>					</ul>
				</div>

				@BLOCK_BEGIN_RESULT_ERROR@
					<div class="alert alert-danger" role="alert">Si &egrave; verificato un errore: @ERROR_MESSAGE@.</div>
				@BLOCK_END_RESULT_ERROR@

				@BLOCK_BEGIN_RESULT_EMPTY@
					<div class="alert alert-warning" role="alert">Nessun elemento trovato.</div>
				@BLOCK_END_RESULT_EMPTY@
				
				<div class="alert alert-info" role="alert">
				Ecco la lista dei &quot;solletici candidati&quot; proposta dal sistema.<br />
				Per ognuno, &egrave; possibile generare il sollecito vero e proprio cliccando sull'icona <img alt="generazione sollecito"  src="app/Template/metaAmbiente/img/icon-new.gif" />: il sollecito verr&agrave; generato in base ai template definiti e potr&agrave; poi essere modificato e/o spedito.				
				</div>

				([
						[[@tag_ProForma.ID#FLAT@] != []]
						?? [
							<table width="100%" summary="tabella risultati" border="0" cellspacing="0" cellpadding="0" class="sortable" id="risultati">
								<tr>
									@BLOCK_BEGIN_HEADER@
										<th scope="col">
											([
												[[@HEADER_HREF@] != []]
												?? [
													<a href="@HEADER_HREF@" @ajaxable="target=list,replace=true,target_result=list" ;>
												]
											])
											@HEADER_LABEL@
											([
												[[@HEADER_HREF@] != []]
												?? [
													</a>
												]
											])
										</th>
									@BLOCK_END_HEADER@
									<th scope="col">Azioni</th>
								</tr>
	
								@BEGIN_ProForma@([
										[[@XPATH_FUN((count(preceding-sibling::ProForma)+ 1) mod 2)@@] == [0.0] ]
										?? [
											<tr class="lista_linea_pari">
										] :: [
											<tr class="lista_linea_dispari">
										]
									])
	
										@tag_inverse_of_proforma@@tag_anno_contabile@@tag_numero@@tag_stato_proforma@@tag_data@@tag_data_pagamento@@tag_competenza@@tag_non_incassabile@<td>([[[@tag_fattura.Fattura.numero#FLAT@] != []] ?? [<a href="?q=object/detail&amp;p=Fattura/_a_ID/_v_@tag_fattura.Fattura.ID#FLAT@" title="vai alla fattura @tag_fattura.Fattura.numero#FLAT@">@tag_fattura.Fattura.numero#FLAT@</a>] :: [&nbsp;]])</td>
										<td>@FUN_MODULE(q=object/detail,p=SollecitoPagamento/_a_inverse_of_solleciti_pagamento/_c_ProForma/_a_ID/_v_@tag_ID#FLAT@,t=SollecitoPagamento_cell,page=null)@</td>
											<td>
												<a class="link_map" href="?q=@MODULE@/detail&amp;p=ProForma/_a_ID/_v_@tag_ID#FLAT@" title="Vai alla scheda dell'oggetto"><img alt="Vai alla scheda dell'oggetto" title="Vai alla proforma"  src="app/Template/metaAmbiente/img/icon-forth.gif" /></a>
												([
												[[@FUN_CHECK_INSTANCE_AUTH(CLS=@CLASS@,ID=@tag_ID#FLAT@,LEVEL=2,CREATION_USER=@tag_creation_user#FLAT@)@] == [true]]
												?? [
													<span class="NoVisibility">|</span>
													@BLOCK_BEGIN_EDIT@
													<a class="link_map" href="?q=helpgest/proforma2sollecito&amp;PROFORMA=@tag_ID#FLAT@&amp;SOLLECITO=@FUN_GET_URL_PARAM(param=data_source,pre=sollecito-)@" title="genera sollecito"><img alt="genera sollecito"  src="app/Template/metaAmbiente/img/icon-new.gif" /></a>
													@BLOCK_END_EDIT@
												]
												])
												
											</td>
									</tr>@END_ProForma@
					  		</table>
						]
					])

		  		

		  		

		  		<div class="pagine">
					<ul>
						@BLOCK_BEGIN_INDIETRO@
							<li>
								<a class="linkfirst" href="@HREF_LIST_FIRST@" @ajaxable="target=list,replace=true,target_result=list"  title="Vai alla prima pagina"><img src="app/Template/metaAmbiente/img/page-first.gif" alt="Vai alla prima pagina" /></a>
							</li>
							<li>
								<a class="linkprev" href="@HREF_LIST_BACK@" @ajaxable="target=list,replace=true,target_result=list"  title="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)"><img src="app/Template/metaAmbiente/img/page-rw.gif" alt="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)" /></a>
							</li>
						@BLOCK_END_INDIETRO@

						<li><strong>@NUMERO_ELEMENTI@ elementi</strong> trovati - pagina @PAGINA_CORRENTE@</li>

						@BLOCK_BEGIN_AVANTI@
							<li>
								<a class="linknext" href="@HREF_LIST@"  @ajaxable="target=list,replace=true,target_result=list" title="Vai alla pagina successiva (@PAGINA_SUCCESSIVA@)"><img src="app/Template/metaAmbiente/img/page-fw.gif" alt="Vai alla pagina successiva (@PAGINA_PRECEDENTE@)" /></a>
							</li>
							<li>
								<a class="linkfirst" href="@HREF_LIST_LAST@" @ajaxable="target=list,replace=true,target_result=list" title="Vai all'ultima pagina"><img src="app/Template/metaAmbiente/img/page-last.gif" alt="Vai all'ultima pagina" /></a>
							</li>
						@BLOCK_END_AVANTI@
					</ul>
				</div>
			</div>
			
		</div>@END_TEMPLATE@