@BEGIN_TEMPLATE@<div id="popup-detail-edit-window">
			@BEGIN_HDTicket@<div class="detail-edit">
			
<script type="text/javascript">
$(".object-help").text("Spiegare cosa e' andato storto!");
$("#required_INP_diagnosi_libero").val("true");
</script>
						

		
						@BLOCK_BEGIN_RESULT_ERROR@
							<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								Si &egrave; verificato un errore: @ERROR_MESSAGE@
							</div>
						@BLOCK_END_RESULT_ERROR@
		
						@BLOCK_BEGIN_RESULT_EMPTY@
							<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								Nessun elemento trovato.
							</div>
						@BLOCK_END_RESULT_EMPTY@
		
						<div class="form-container form-container-HDTicket">
	<div class="alert alert-info" role="alert">
						Il ticket <em>@tag_identificativo#FLAT@</em> viene chiuso come NON RISOLVIBILE.<br />
						
			</div>
			
						<form id="popup-detail-edit" method="post" action="@ACTION@">
							<fieldset>
								
								<div class="detail-body">
									@tag_diagnosi_libero@
								</div>
								

																
								<input type="hidden" name="INP_statoTicket" id="INP_statoTicket"  value="insolubile" />
								<input type="hidden" id="allow_instance_deletion" value="false" /> 
									<input type="hidden" name="class" value="@CLASS@" />
									<input type="hidden" name="r" value="@REDIRECT@" />
									<input type="hidden" name="forced_post_save" id="popup_forced_post_save" value="@POST_SAVE@" />																	
								</fieldset>
							</form>
		
						
		
						</div>
					</div>@END_HDTicket@
		</div>@END_TEMPLATE@