@BEGIN_TEMPLATE@<div id="popup-detail-edit-window">
			@BEGIN_ProForma@<div class="detail-edit">
		
						@BLOCK_BEGIN_RESULT_ERROR@
							<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								Si &egrave; verificato un errore: @ERROR_MESSAGE@
							</div>
						@BLOCK_END_RESULT_ERROR@
		
						@BLOCK_BEGIN_RESULT_EMPTY@
							<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								Nessun elemento trovato!
							</div>
						@BLOCK_END_RESULT_EMPTY@
		
		
						<div class="form-container form-container-ProForma">
							<form id="popup-detail-edit" method="post" action="?q=helpgest/proforma2fattura&amp;ID=@tag_ID#FLAT@" @ajaxable="target=popup-detail-edit-window">
								<fieldset>
									<legend>Inserire la data di pagamento</legend>
	
									
									<div class="detail-body">
										@tag_data_pagamento@
									</div>
									
									
		
									<input type="hidden" name="class" value="@CLASS@" />
									<input type="hidden" name="r" value="@REDIRECT@" />
									<input type="hidden" id="allow_instance_deletion" value="false" />
									<input type="hidden" name="forced_post_save" id="popup_forced_post_save" value="@POST_SAVE@" />																	
								</fieldset>
							</form>
		
							<div class="detail-attachments">
								
							</div>
		
						</div>
					</div>@END_ProForma@
		</div>@END_TEMPLATE@