@BEGIN_TEMPLATE@<div id="popup-detail-edit-window">
			@BEGIN_StoriaDocumento@<div class="detail-edit">
						<div id="splash">
							<h2>@TITLE@</h2>
						</div>
		
						@BLOCK_BEGIN_RESULT_ERROR@
							<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								Si &egrave; verificato un errore: @ERROR_MESSAGE@
							</div>
						@BLOCK_END_RESULT_ERROR@
		
						@BLOCK_BEGIN_RESULT_EMPTY@
							<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								Nessun elemento trovato!
							</div>
						@BLOCK_END_RESULT_EMPTY@
		
		
						<div class="form-container">
							<form id="popup-detail-edit" method="post" action="@ACTION@" @ajaxable="target=popup-detail-edit-window">
								<fieldset>
									<legend>Inserire/modificare i dati</legend>
	
									
									<div class="detail-body">
										@tag_inviato_il@@tag_scaricato_il@@tag_sollecito_il@@tag_workflow_completato_il@@tag_errore@
									</div>
									
		
									<input type="hidden" name="class" value="@CLASS@" />
									<input type="hidden" name="r" value="@REDIRECT@" />
									<input type="hidden" name="forced_post_save" id="popup_forced_post_save" value="@POST_SAVE@" />
									
									<input type="hidden" id="allow_instance_deletion" value="true" />
								</fieldset>
							</form>
		
						</div>
					</div>@END_StoriaDocumento@
		</div>@END_TEMPLATE@