@BEGIN_TEMPLATE@
  <form class="navbar-form navbar-right" method="post" action="Index">
            <div class="form-group">
              <input placeholder="Username" name="user" class="form-control" type="text">
            </div>
            <div class="form-group">
              <input placeholder="Password" name="pass" class="form-control" type="password">
            </div>
			<input type="hidden" name="q" value="@MODULE@/login" /> @CALLS@
            <button type="submit" class="btn btn-success">Log in</button>
</form>
@END_TEMPLATE@
