@BEGIN_TEMPLATE@
		<div class="operation-result">
			<div id="splash">
				
			</div>

	@BLOCK_BEGIN_RESULT_SUCCESS@
    	
			<div class="alert alert-success" role="alert">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Operazione avvenuta correttamente.
				</div>
    		<br />
    		
    		@MESS@
    
			 <div class="navigation-options">
				<ul>

							<li>
								Torna alla <a title="Torna alla proforma" href="?q=object/detail&amp;p=ProForma/_a_ID/_v_@ID@">proforma</a>
							</li>
				</ul>		
			</div>
			
	@BLOCK_END_RESULT_SUCCESS@
		
	@BLOCK_BEGIN_RESULT_ERROR@
		<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			Si &egrave; verificato un errore: @ERROR_MESSAGE@
		</div>        

		 
	@BLOCK_END_RESULT_ERROR@
		</div>
 
		
	@END_TEMPLATE@