@BEGIN_TEMPLATE@<div class="filter">
			<div id="splash">
				<h2>Clienti con cessata assistenza</h2>
			</div>
			
			<script type="text/javascript">
				$(document).ready(function()	{
					$("#filter").submit(function()	{
						if (!$("#KEY_cessata_assistenza_il__FROM").val())	{
							alert("La prima data (dal) e' obbligatoria!");
							return false;
							} else {
							return true; }
					});
				});
			
			</script>

			<div class="form-container">
				<form id="filter" method="post" action="@ACTION@">
					<fieldset>
						<legend>ricerca avanzata</legend>
						<div class="alert alert-info" role="alert">Specifica i parametri desiderati e premi invio per avviare la ricerca. <br />
							Premere il bottone <em>cerca</em> senza specificare parametri significa reperire tutte le schede presenti.
						</div>
						@BEGIN_Cliente@
							@tag_cessata_assistenza_il@
						@END_Cliente@
						<br class="clearBoth" />
						<input type="hidden" name="fetch_from" value="@FETCH_FROM_VALUE@" />
						<input type="hidden" name="fetch_to" value="@FETCH_TO_VALUE@" />
						
						
						
						<div class="buttonrow">
							<input type="submit" name="post_search" class="button" title="avvia la ricerca" value="cerca" />
						</div>
					</fieldset>
				</form>
			</div>
		</div>@END_TEMPLATE@