@BEGIN_TEMPLATE@
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="it" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>@NOME APPLICAZIONE@</title>
    <meta name="author" content="Cooperativa Anastasis" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Content-type" content="text/xhtml; charset=ISO-8859-1" />
    <meta name="language" content="it" />
 </head>
  <body id="home">
    <img src="@LINK@" title="@TITLE@" alt="@TITLE@"  />
  </body>
</html>
@END_TEMPLATE@
