@BEGIN_TEMPLATE@<div id="detail">
			<div id="splash">
				<h2>@TITLE@</h2>
				
			</div>
			
			<script type="text/javascript">
				$(document).ready(function()	{
					var minuti = 0;
					$(".minutifatturati").each(function() {
						var val = $(this).html();
						minuti += parseInt(val);
					});
					$("#minfatttot").html(minuti);
				});
			</script>
		
			
			@BLOCK_BEGIN_RESULT_ERROR@
				<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					Si &egrave; verificato un errore: @ERROR_MESSAGE@
					<br /><br />
      				<a href="javascript:history.back();" title="Indietro">Indietro</a>
				</div>
			@BLOCK_END_RESULT_ERROR@

			@BLOCK_BEGIN_RESULT_EMPTY@
				<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					Nessun elemento trovato!
					<br /><br />
      				<a href="javascript:history.back();" title="Indietro">Indietro</a>
				</div>
			@BLOCK_END_RESULT_EMPTY@
@BEGIN_Pratica@
			<div class="inserto">
				<ul id="toolbar" class="clearfix">
					<li>
						<a href="?q=object/list&amp;p=@CLASS@&amp;page=XML-QUERY" title="Tornare all'ultima lista visualizzata"><img alt="Tornare all'ultima lista visualizzata"  src="@CONTEXT@/app/Template/metaAmbiente/img/icon-back.gif" /></a>
					</li>
				

					@BLOCK_BEGIN_EDIT@
									<li>
										<a href="@HREF_DETAIL_EDIT@" title="Modifica i dati dell'oggetto" ([[[] != []] ?? [popup="dimensions="]])>
											<img alt="modifica" title="modifica"  src="app/Template/metaAmbiente/img/icon-edit.gif" />
										</a>
									</li>
					@BLOCK_END_EDIT@
						<li>
							<a href="ModuleIndex?q=report/give/CLS=Pratica/DOC=Minipreventivo/TYPE=pdf/ID=@tag_ID#FLAT@" title="genera pdf minipreventivo">
								<img alt="genera pdf minipreventivo" src="@CONTEXT@/app/Template/metaAmbiente/img/icon-acrobat.gif" />
							</a>
						</li>
						
						<li>						
							<a href="?q=helpgest/birt2documento&amp;titolo=Minipreventivo @tag_titolo#FLAT@&amp;tipologia=PREVENTIVI&amp;report=Minipreventivo&amp;class=Pratica&amp;id=@tag_ID#FLAT@&amp;cliente=@tag_cliente_pratica.Cliente.ID#FLAT@&amp;estensione=pdf" title="Genera pdf minipreventivo e registralo in DMS, pronto per invio" onclick="return confirm('Confermare generazione minipreventivo e registrazione documento in DMS. Ricordarsi poi di lanciare il workflow per invio al cliente.');">
								<img alt="Genera pdf minipreventivo e registralo in DMS, pronto per invio" src="@CONTEXT@/app/Template/metaAmbiente/img/icon-new-revision.png">
							</a>
						</li>
							<li>
								<a id="newdoclink" title="Registra un documento in DMS taggato col titolo della pratica" href="?q=object/detail_edit&amp;p=Documento&amp;a&amp;t=DocumentoFromPratica&amp;pratica=@FUN_REPLACE(string=@tag_titolo#FLAT@,search=# #,replace=_)@_@tag_ID#FLAT@&amp;idpratica=@tag_ID#FLAT@&amp;anno=@tag_anno_contabile#FLAT@" class="link_map">
						          <img src="app/Template/metaAmbiente/img/icon-document-import.png" alt="Registra un documento in DMS taggato col titolo della pratica">
        					    </a>
        					 </li>
						
				</ul>
			</div>


			<div class="object-title">
						<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella titolo scheda">
							<tbody>
								@tag_titolo@
							</tbody>
						</table>
					</div>
					

				
				([
					[ [@tag_cliente_pratica@] != []]
					?? [
						<div id="object-body-nav">
							<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella navigazione">
								<tbody>
									<tr class="inverse_of_proforma">
										<th scope="row"></th>
										<td>
											<div class="object-link">
												<em>vai alla scheda di </em>
													<a href="?q=object/detail&p=Cliente/_a_ID/_v_@tag_cliente_pratica.Cliente.ID#FLAT@" title="vai alla scheda di @tag_cliente_pratica.Cliente.cliente#FLAT@">@tag_cliente_pratica.Cliente.cliente#FLAT@</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					]
				])

				
				<div id="object-body">
						<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati scheda">
							<tbody>
								@tag_titolo@@tag_data_chiusura@@tag_stato@@tag_anno_contabile@@tag_tipo@
								([[[@tag_tipo#FLAT@] contains [ora]] ?? [
									<tr class="fatturatosofar">
									<th scope="row">minuti fatturati</th>
									<td id="minfatttot"></td>
								</tr>
								]])
								@tag_prezzo@@tag_responsabile@@tag_titolo_per_fattura@@tag_note@
							</tbody>
						</table>
					</div>

 
						<div id="object-body-links">
							<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati scheda">
								<tbody>
									@tag_attivita@@tag_pratica_scadenza@
			
									<tr class="documenti"><th scope="row">documenti</th>
									<td><div class="object-link">
    									<em>vai alla lista dei </em> 
    										<a href=?q=object/list&amp;p=Documento/_a_free_tag/_v_@FUN_REPLACE(string=@tag_titolo#FLAT@,search=# #,replace=_)@_@tag_ID#FLAT@" title="vai alla lista dei documenti caricati contestualmente alla pratica ">documenti</a>
	    								caricati contestualmente alla pratica
	    							</div>
	    							</td></tr>
								</tbody>
							</table>
						</div>

				
				<div id="object-system" @toggable="label=apri/chiudi attributi di sistema,init_state=closed">
					<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati di sistema">
						<tbody>
							@tag_creation_user@@tag_creation_date@@tag_deletion_user@@tag_deletion_date@@tag_last_modification_user@@tag_last_modification_date@@tag_activation_flag@@tag_deletion_flag@
						</tbody>
					</table>
				</div>@END_Pratica@
		</div>@END_TEMPLATE@